@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&family=Cabin:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Zain:wght@200;300;400;700;800;900&display=swap");

@font-face {
  font-family: swissra-normal;
  src: url("/fonts/swissra-normal.otf") format("opentype");
}
@font-face {
  font-family: swissra-medium;
  src: url("/fonts/swissra-medium.otf") format("opentype");
}
@font-face {
  font-family: swissra-bold;
  src: url("/fonts/swissra-bold.otf") format("opentype");
}

@layer components {
  .apply-fonts-normal {
    font-family: "swissra-normal";
    font-weight: 100;
  }
  .apply-fonts-medium {
    font-family: "swissra-medium";
  }

  .apply-fonts-bold {
    font-family: "swissra-bold";
  }
  .hoverEle {
    @apply transition duration-300 cursor-pointer;
  }

  .custom-before-nav::before {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #3d45ee;
    transition: transform 2s ease-in-out;
  }
  .apply-fonts-test {
    font-family: "Cabin", sans-serif;
  }
  .custom-width {
    width: calc(100vw - 300px);
  }
  .custom-width-Course {
    width: calc(100vw - 400px);
  }
}

/* تخصيص شريط التمرير لجميع العناصر القابلة للتمرير في الموقع */
::-webkit-scrollbar {
  width: 2px; /* عرض شريط التمرير */
}

/* مسار شريط التمرير */
::-webkit-scrollbar-track {
  @apply bg-mainColor rounded-md; /* لون مسار شريط التمرير */
}

/* مقبض شريط التمرير */
::-webkit-scrollbar-thumb {
  background-color: transparent; /* لون مقبض شريط التمرير */
  border-radius: 5px;
  border: 1px solid transparent; /* لإضافة مساحة حول المقبض */
}

/* عند التحويم فوق مقبض شريط التمرير */
::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* لون مقبض شريط التمرير عند التحويم */
}

:root {
  --plyr-color-main: #3d45ee; /* اللون الرئيسي */
}

/* تعريف تأثير التعتيم */
#video-container {
  filter: blur(0); /* قيمة التعتيم الافتراضية */
  transition: filter 0.3s ease; /* إضافة تأثير التدرج عند التغيير */
}

#video-container.blurred {
  filter: blur(6px); /* قيمة التعتيم عند اكتشاف التفاعل */
}
/* html,*/
/* body {
  overflow-x: visible !important;
}  */
